<div class="listing">
  {{#if answerQuestion}}
    <h3>Answer a Question</h3>
    <form>
      <div>
        <p>What is your name? {{input value="your name" id="username"}}</p>
      </div>
      <div>
        <p>Your Answer: </p>
        {{tinymce-editor options=options value=text id="notes"}}
      </div>
      <button {{action 'saveAnswer'}} class="button">Save Answer</button>
    </form>
  {{else}}
    <button {{action 'showAnswerForm'}} class="button">Answer Question</button>
  {{/if}}
</div>
