{{#if listAnswers}}
  <button {{action 'hideAnswers'}} class="button">Hide Answers</button>
  {{#each model.answers as |answer|}}
    <h5>{{answer.username}}</h5>
    <p>{{answer.text}}</p>
  {{/each}}
{{else}}
  <button {{action 'showAnswers'}} class="button">Show Answers</button>
{{/if}}
