
{{#if details}}
  {{#if updateQuestion}}
    <h3>Edit Question</h3>
    <form>
      <div class="form-group">
        <p>What is your name? {{input value=username placeholder=question.username id="username"}}</p>
      </div>
      <div class="form-group">
        <p>What is your question? {{input value=title placeholder=question.title id="title"}}</p>
      </div>
      <div class="form-group">
        <p>Are there any other details that we should know about your question?</p>
        <p>Previous response: <em>{{question.details}}</em></p>
        {{textarea value=details id="details"}}
      </div>
      <button {{action 'saveQuestion' question}} class="button">Update Question</button>
    </form>
  {{else}}
    <p>{{{question.details}}}</p>
    <h4>Tomster's Answer: {{question.tomster}}</h4>
    <p>{{answer-question saveAnswer="saveAnswer" question=question}}</p>
    {{#each question.answers as |answer|}}
      <h5>{{answer.username}}</h5>
      <p>{{{answer.text}}}</p>
    {{/each}}
    <button {{action 'showEditForm'}} class="button">Edit Question</button>
  {{/if}}
  <button {{action 'hideDetails'}} class="button">Hide Details</button>
{{else}}
  <button {{action 'showDetails'}} class="button">Show Details</button>
{{/if}}
